<h1>Create Account</h1>
<form action="/signup" method="POST">
  <p>
    <label for="username">User Name:</label>
    <input type="text" name="username" id="username">
  </p>
  <p>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email">
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" placeholder="Min 8 characters">
  </p>
  <input type="submit" name="" value="Create">
</form>
