<section>
  <h1>See what’s happening at Flatiron right now</h1>

   <a href="/login" class="button">Login</a>
   <a href="/signup" class="button">Sign Up</a>

  <br>
  <br>
  <h2>Join Fwitter today.</h2>
</section>

<section>
  <h4>Follow your interests.</h4>
    <br>
  <h4>Hear what people are talking about.</h4>
    <br>
  <h4>Join the conversation.</h4>
</section>
