<!doctype html>
<html>
  <head>
    <title>Fwitter</title>

  </head>
  <body>
    <% if flash[:success] %>
      <p style="color:green"><%= flash[:success] %></p>
    <% elsif flash[:error] %>
      <% flash[:error].each do |message| %>
        <p style="color:red"><%= message %></p>
      <% end %>
    <% end %>
   <%= yield %>
  </body>
</html>
